<div class="col-xs-2"></div>
<div class="col-xs-8" id="result-container">
  <div id="restaurant-info-container" class="row clearfix">
    <div id="restaurant-info" class="col-xs-6">
      <h1><%= chosen.name %></h1><br><br>
      <span>Phone Number: <%=chosen.display_phone %></span><br>
      <span><%= chosen.location["display_address"][0] %>, <%= chosen.location["display_address"][2] %> </span>
    </div>
    <div id="yelp-rating-url" class="col-xs-6">
      <span><img src=" <%= chosen.rating_img_url_large %>"></span><br><br>
      <span><a href="<%= chosen.url %>">See Restaurant on Yelp</a></span><br>
      <span>
        <% for (var i = 0; i < chosen.categories.length; i++) { %>
          <% if (i === (chosen.categories.length-1)){ %>
            <span><%= chosen.categories[i][0] %></span>
          <%} else {%>
            <span>&nbsp;/ <%= chosen.categories[i][0] %></span>
          <% } %>
        <% } %>
      </span>
    </div>
  </div>

  <div id="restaurant-image-container">
    <img id="restaurant-image" src="<%= chosen.image_url.replace('ms.jpg', '348s.jpg')%>">
    <img id="faded-restaurant-image" src="<%= chosen.image_url.replace('ms.jpg', '348s.jpg')%>">
    <ul id="list-on-image">
      <% if (user) {%>
        <a id="save" href="/profile"><li>Save to Favorites!</li></a>
      <% } %>
      <a href="#" id="shake-again"><li>Try again!</li></a>
      <a href="/" id="back"><li>Back</li></a>
    </ul>
  </div>

  <iframe
    frameborder="0" src="https://www.google.com/maps/embed/v1/directions?origin=<%=cll%>&destination=<%=chosen.location["coordinate"]["latitude"]%>,<%=chosen.location["coordinate"]["longitude"]%>&key=AIzaSyCvB_F_S_FrDlcGvJkz-3LxCtcVBCn55hw" allowfullscreen>
  </iframe><br>
</div>
<div class="col-xs-2"></div>

<!-- Make the result accessible to javascript-->
<div id="result" style="display: none"><%=JSON.stringify(chosen) %></div>

<script>
  // reload the page for new result
  $('#shake-again').on('click',function(evt){
    location.reload()
  })
    var favorite = JSON.parse($('#result').text())
  var address = favorite.location.display_address[0] + ", " + favorite.location.display_address[1]
  // if session exists, store the user's id into userId
  if ($('#user').text().length !== 0) {
    var userId = JSON.parse($('#user').text())._id
  }
  else {
    var favoriteId = favorite.id
    $('#guest-proceed').attr('href','/session?favoriteId='+favoriteId)
  }

  // get the image_url of the result and replace ms.jpg with o.jpg to get a larger image
  // var imageURL = favorite.image_url.replace('ms.jpg', 'o.jpg')
  // $('#restaurant-image').attr('src', imageURL)

  $('#save').on('click', function() {
    // if a user is logged in, then  make a POST request to favorites/:user_id
      $.ajax({
        url: '/favorites/'+userId, // make a post request to create a favorite and attache it to the current user
        method: 'POST',
        contentType: 'application/json',
        // pass the information to be saved into the new Favorite object
        data: JSON.stringify({"name": favorite.name, "rating": favorite.rating, url: favorite.url , display_phone: favorite.display_phone, address: address, categories: favorite.categories, image_url: favorite.image_url, rating_img_url_large: favorite.rating_img_url_large, _owner: userId, id: favorite.id}),
        success: function(data) {
          console.log('COOL!')
        }
      })
  })
</script>
