<div class="col-xs-2"></div>
<div class="col-xs-8">
  <div class="row">
    <div class="col-xs-6" id="restaurant-name-rating">
      <div class="result-name-rating">
        <h4><%= chosen.name %>
          <% if (user) {%>
            <a href="/profile"><img id="save-result" src="images/heart.png"></a>
          <% } %>
        </h4>
        <img src=" <%= chosen.rating_img_url %>"><br>
      </div>
    </div>
    <div class="col-xs-6 text-align-right">
        <a href="#" id="try-again"><button>Try again</button></a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <span>
        <% for (var i = 0; i < chosen.categories.length; i++) { %>
          <% if (i === 0){ %>
            <span><%= chosen.categories[i][0] %></span>
          <%} else {%>
            <span>/ <%= chosen.categories[i][0] %></span>
          <% } %>
        <% } %>
      </span><br>
      <span>Phone Number: <%=chosen.display_phone %></span><br>
      <span><%= chosen.location["display_address"][0] %>, <%= chosen.location["display_address"][1] %> <%= chosen.location["display_address"][2] %> </span>
    </div>
    <div class="col-xs-6">
      <div id="restaurant-link-category">
        <br><br>
        <a href="<%= chosen.url %>">See Restaurant on Yelp</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 padding-right-0">
      <img id="restaurant-image" src="<%= chosen.image_url.replace('ms.jpg', '348s.jpg')%>">
    </div>
    <div class="col-xs-6">
      <iframe
        frameborder="0" src="https://www.google.com/maps/embed/v1/directions?origin=<%=cll%>&destination=<%=chosen.location["coordinate"]["latitude"]%>,<%=chosen.location["coordinate"]["longitude"]%>&key=AIzaSyCvB_F_S_FrDlcGvJkz-3LxCtcVBCn55hw" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
<div class="col-xs-2"></div>

<!-- Make the result accessible to javascript-->
<div id="result" style="display: none"><%=JSON.stringify(chosen) %></div>

<script>
  // reload the page for new result
  $('#try-again').on('click',function(evt){
    location.reload()
  })
    var favorite = JSON.parse($('#result').text())
  var address = favorite.location.display_address[0] + ", " + favorite.location.display_address[1]
  // if session exists, store the user's id into userId
  if ($('#user').text().length !== 0) {
    var userId = JSON.parse($('#user').text())._id
  }
  else {
    var favoriteId = favorite.id
    $('#guest-proceed').attr('href','/session?favoriteId='+favoriteId)
  }
  console.log(favorite)
  // get the image_url of the result and replace ms.jpg with o.jpg to get a larger image
  // var imageURL = favorite.image_url.replace('ms.jpg', 'o.jpg')
  // $('#restaurant-image').attr('src', imageURL)

  $('#save').on('click', function() {
    // if a user is logged in, then  make a POST request to favorites/:user_id
      $.ajax({
        url: '/favorites/'+userId, // make a post request to create a favorite and attache it to the current user
        method: 'POST',
        contentType: 'application/json',
        // pass the information to be saved into the new Favorite object
        data: JSON.stringify({"name": favorite.name, "rating": favorite.rating, url: favorite.url , display_phone: favorite.display_phone, address: address, categories: favorite.categories, image_url: favorite.image_url, rating_img_url: favorite.rating_img_url, _owner: userId, id: favorite.id}),
        success: function(data) {
          console.log('COOL!')
        }
      })
  })

  setInterval(function(){
    var imageHeight = $('#restaurant-image').css('height')
    $('iframe').css('height', imageHeight)
  }, 1)

</script>
