<div class="col-xs-2"></div>
<div class="col-xs-8">
  <div class="row">
    <div class="col-xs-6" id="restaurant-name-rating">
      <div class="result-name-rating">
        <h4><%= favorite.name %></h4>
        <img src=" <%= favorite.rating_img_url %>"><br>
      </div>
    </div>
    <div class="col-xs-6 text-align-right">
        <a href="/profile" id="go-profile"><button>Back</button></a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <span>
        <% for (var i = 0; i < favorite.categories.length; i++) { %>
          <% if (i === 0){ %>
            <span><%= favorite.categories[i][0] %></span>
          <%} else {%>
            <span>/ <%= favorite.categories[i][0] %></span>
          <% } %>
        <% } %>
      </span><br>
      <span>Phone Number: <%=favorite.display_phone %></span><br>
      <span><%= favorite.address %></span>
    </div>
    <div class="col-xs-6">
      <div id="restaurant-link-category">
        <br><br>
        <a href="<%= favorite.url %>">See Restaurant on Yelp</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 padding-right-0">
      <img id="restaurant-image" src="<%= favorite.image_url.replace('ms.jpg', '348s.jpg')%>">
    </div>
    <div class="col-xs-6">
      <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCvB_F_S_FrDlcGvJkz-3LxCtcVBCn55hw&q=<%= favorite.name %>,<%= favorite.address %>"
       allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
<div class="col-xs-2"></div>

<script>
  // set the iframe to be the same height as the restaurant-image
  setInterval(function(){
    var imageHeight = $('#restaurant-image').css('height')
    $('iframe').css('height', imageHeight)
  }, 1)
</script>
